global-reset();
#AppRoot{
  position fixed
  top 0;
  left 0;
  right 0;
  bottom 0;
}

$backMainColor = #4276af;
$headerMainColor = white;
$textFontFamily = sans-serif;
$textMainColor = black;
$textSmokeColor = gray;
$labelMainColor  = blue;