/**
 * Created by OLEG on 09.04.2016.
 */
@require '../../preset.styl';

.appMenu{
  color: $alternateTextColor;

  &-loginButton{
    position: absolute !important;
    right: 0.5rem;
    top: 0.9rem;
    color: $alternateTextColor !important;
  }

  &-loginCaption{
    fontset: 5;
    position: absolute;
    top: 1.5rem;
    left: 3.5rem;
  }

  &-connectionState{
    position: absolute;
    top: 2.5rem;
    left: 3.5rem;
    fontset: 7;
  }
}