@import '../../../common.styl'
.TextBox{
  display: block;
  position: relative;
  font-family: $textFontFamily;
  font-size: 1em;
  padding: 1em 0.4em;

  &-label{
    display: block;
    font-size: 0.7em;
    position: absolute;
    top: 0.3em;
    pointer-events: none;
    transition: all 0.25s;
  }

  &-input{
    width: 100%;
    font-size: 1em;
    line-height: 1.2em;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;

  }

  &:after{
    content: '';
    display: block;
    height: 0.1em;
    background-color $labelMainColor;
    position absolute;
    width calc(100% - 0.8em);
  }

  &--empty > &-label {
    font-size: 1em;
    top: 1.2em;
  }
}

